<div class="page-header">
  <h3>
    Comprar productos
  </h3>
</div>
<div class="row funnel">
  <div class="col-md-4 text-center">
    <p><%= image_tag "nintendo.jpg" %></p>
    <h2>Nintendo Switch</h2>
    <div>
      <h3>Precio: <%= number_to_currency(@prices[:nintendo], unit: "€") %></h3>
    </div>
  </div>
  <div class="col-md-4 text-center">
    <p><%= image_tag "iphone.jpg" %></p>
    <h2>iPhone 7</h2>
    <div>
      <h3>Precio: <%= number_to_currency(@prices[:iphone], unit: "€") %></h3>
    </div>
  </div>
  <div class="col-md-4 text-center">
    <p><%= image_tag "samsung.jpg" %></p>
    <h2>Samsung Gear S2</h2>
    <div>
      <h3>Precio: <%= number_to_currency(@prices[:samsung], unit: "€") %></h3>
    </div>
  </div>
</div>
