<div class="page-header">
  <h3>
    Listado de productos
  </h3>
</div>
<div class="row funnel">
  <div class="col-md-4 text-center">
    <p><%= image_tag "nintendo.jpg" %></p>
    <h2>Nintendo Switch</h2>
    <h3><%= link_to "Comprar", funnel_buy_path %></h3>
    <h3><%= link_to "Comprar con BBVA", "#", class: "go-to-bbva" %></h3>
  </div>
  <div class="col-md-4 text-center">
    <p><%= image_tag "iphone.jpg" %></p>
    <h2>iPhone 7</h2>
    <h3><%= link_to "Comprar", funnel_buy_path %></h3>
    <h3><%= link_to "Comprar con BBVA", "#", class: "go-to-bbva" %></h3>
  </div>
  <div class="col-md-4 text-center">
    <p><%= image_tag "samsung_gear.jpg" %></p>
    <h2>Samsung Gear S2</h2>
    <h3><%= link_to "Comprar", funnel_buy_path %></h3>
    <h3><%= link_to "Comprar con BBVA", "#", class: "go-to-bbva" %></h3>
  </div>
</div>
