<% if @loans[:hasPreApprovedLoan] %>
  <div class="alert alert-success" role="alert"><b>Este usuario tiene un préstamo pre-aprobado</b></div>

  <table class="table">
  <caption>Opciones de pŕestamo.</caption>
    <thead>
      <tr>
        <th>id</th>
        <th>Periodo mínimo</th>
        <th>Periodo máximo</th>
        <th>Tipo periodo</th>
        <th>Cantidad mínima</th>
        <th>Cantidad máxima</th>
        <th>Moneda</th>
      </tr>
    </thead>
    <tbody>
    <% @loans[:loanInstallments].each.each do |loan_info| %>
      <tr>
        <td><%= loan_info[:id] %></td>
        <td><%= loan_info[:period][:min]%></td>
        <td><%= loan_info[:period][:max]%></td>
        <td><%= loan_info[:period][:timeUnit]%></td>
        <td><%= loan_info[:amount][:min]%></td>
        <td><%= loan_info[:amount][:max]%></td>
        <td><%= loan_info[:amount][:currency]%></td>
      </tr>
    <% end %>
    </tbody>
  </table>

<% else %>
  <div class="alert alert-danger" role="alert"><b>Este usuario no tiene un préstamo pre-aprobado</b></div>
<% end %>
