.row.show-grid
  .col-md-1
    %b
      Name
  .col-md-4
    ="#{@current_user[:name]} #{@current_user[:surname]} #{@current_user[:secondSurname]}"
%br
.row
  .col-md-1
    %b='Contact Info'
  .col-md-6
    .row
      .col-md-3
        Email
      .col-md-6
        =@current_user[:contactInfo][:email] 
    .row
      .col-md-3
        Phone
      .col-md-6
        =@current_user[:contactInfo][:phone]
%br
.row
  .col-md-1
    %b='Address'
  .col-md-6
    - (@current_user[:address] || []).each do |k, v|
      .row
        .col-md-3
          = k.humanize
        .col-md-6
          = v 