.page-header
  %h3='Sandbox Users'

%h5
  %p
    Log in with one of these users to play with. You can see the complete user list #{ link_to 'here', 'https://www.bbvaapimarket.com/web/api_market/bbva/identity/documentation#documentation-sandbox'}.
 
%br
.table-responsive
  %table.table.table-striped.table-condensed
    %thead
      %tr
        %th= 'User identifier'
        %th= 'User password'
        %th
    %tbody
      -@sandbox_user_ids.each do |user_id|
        %tr
          %td
            = user_id
          %td
            = @sandbox_password

