!!!
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %title= content_for?(:title) ? yield(:title) : "The Cocktail BBVA API Demo"
    = csrf_meta_tags
    / Le HTML5 shim, for IE6-8 support of HTML elements
    /[if lt IE 9]
    = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"


  %body
    .navbar.navbar-default.navbar-static-top{style:"background-color:#90AC2B;"}
      .container
        %button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse")
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand.custom{style: "color:white;" }(href="/me/samples")
          = image_tag("logo-tck.png")
        .navbar-collapse.collapse.navbar-responsive-collapse
          %ul.nav.navbar-nav
            %li=link_to("BBVA API Demo", '/me/samples' ,{style: "color:white;"})
            - if session[:auth]
              %li=link_to('Personal Information', '/me',{style: "color:white;"})
              %li=link_to("Accounts", accounts_path,{style: "color:white;"})
              %li=link_to("Cards", cards_path,{style: "color:white;"})
              %li=link_to("Loans", loans_path,{style: "color:white;"})
              %li=link_to("Buy with BBVA", funnel_buy_bbva_path ,{style: "color:white;"})
              %li=link_to("Log out", sessions_destroy_path,{style: "color:white;"})
            - else
              %li=link_to("Log in", '#',{style: "color:white;", class: "go-to-bbva"})
              %li=link_to("Productos", funnel_index_path ,{style: "color:white;"})


    = render 'shared/flash'
    .container-fluid
      .row
        .col-md-1
        .col-md-9
          =yield
          %footer
            %br
            %p
              = image_tag("logo-tck.png")


= render 'shared/javascript'
