.page-header
  %h2=t '.title', :default => "My Accounts"
%b= client_full_name
%br
%br
.table-responsive
  %table.table.table-striped.table-condensed
    %thead
      %tr
        %th= 'Alias/Number'
        %th= 'Number'
        %th= 'Type'
        %th= 'Balance'
        %th
    %tbody
      - @accounts.each do |account|
        %tr
          %td{:style => "white-space : nowrap;"}
            = link_to (account[:alias] || account[:number]), account_path(account[:id])
          %td= account[:id]
          %td= account[:type]
          %td= account[:balance].to_s + " " + account[:currency]
