.page-header
  %h2=t '.title', :default => "Accounts"
.table-responsive
  %table.table.table-striped.table-condensed
    %thead
      %tr
        %th= 'Alias'
        %th= 'Number'
        %th= 'Balance'
        %th
    %tbody
      - @accounts.each do |account|
        %tr
          %td{:style => "white-space : nowrap;"}
            = link_to account[:malias], account_path(account[:number])
          %td= account[:number]
          %td= account[:balance].to_s + " " + account[:currency]
