%h3="Detail Information"
%br
.row
  .col-md-6
    - formats = @account.delete("formats")
    - @account.merge!(formats).keys.each do |k|
      .row
        .col-md-3
          %b
            = k.humanize
        .col-md-6
          =  (k == 'type') ? account_type(@account[k]) : @account[k]

- if @transactions
  %br
  %h3="Tranfer List"
  .table-responsive
    %table.table.table-striped.table-condensed
      %thead
        %tr
          %th= 'Description'
          %th= 'Date'
          %th= 'Category'
          %th= 'SubCategory'
          %th= 'Amount'
          %th
      %tbody
        - @transactions.each do |transaction|
          %tr
            %td{:style => "white-space : nowrap;"}
              = transaction[:description]
            %td= transaction[:date]
            %td= transaction[:category][:name]
            %td= transaction[:subCategory][:name]
            %td= transaction[:amount].to_s + " " + transaction[:currency]